<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список статей</title>
</head>
<body>
    <h1>Список статей</h1>
    <ul>
        {% for article in object_list %}
        <li>
            <h2>{{ article.title }}</h2>
            <p>Дата публикации: {{ article.pub_date }}</p>
            <p>Автор: {{ article.author.name }}</p>
            <p>Категория: {{ article.category.name }}</p>
            <p>Тэги:
                {% for tag in article.tags.all %}
                    {{ tag.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
        </li>
         {% endfor %}
    </ul>
</body>
</html>