{% extends 'shopapp/base.html' %}

{% block title %}
  Products List
{% endblock %}

{% block body %}
  <h1>Products:</h1>

  {% if products %}
    <div class="product-list">
      {% for product in products %}
        <div class="product-item">
          <p>
            <a href="{% url 'shopapp:product_details' pk=product.pk %}">
              <strong>Name:</strong> {{ product.name }}
            </a>
          </p>
          <p><strong>Price:</strong> {{ product.price }} $</p>
          <p><strong>Discount:</strong> {% firstof product.discount 'no discount' %}</p>
        </div>
      {% endfor %}
    </div>

  {% else %}
    <h3>No products yet</h3>
  {% endif %}

  <div>
    <a href="{% url 'shopapp:product_create' %}">Create a new product</a>
  </div>

{% endblock %}
