{% extends 'shopapp/base.html' %}

{% block title %}
  Product #{{ product.pk }}
{% endblock %}

{% block body %}
  <h1>Product <strong>{{ product.name }}</strong></h1>
  <div>
    <table>
      <tr>
        <td><strong>Description:</strong></td>
        <td><em>{{ product.description }}</em></td>
      </tr>
      <tr>
        <td><strong>Price:</strong></td>
        <td>${{ product.price|floatformat:2 }}</td>
      </tr>
      <tr>
        <td><strong>Discount:</strong></td>
        <td>{{ product.discount }}%</td>
      </tr>
      <tr>
        <td><strong>Archived:</strong></td>
        <td>{{ product.archived|yesno:"Yes,No" }}</td>
      </tr>
    </table>

    {% if product.preview %}
      <div>
        <img src="{{ product.preview.url }}" alt="Preview image of {{ product.name }}">
      </div>
    {% endif %}

    <h3>Images:</h3>
    <div>
      {% for img in product.images.all %}
        <div>
          <img src="{{ img.image.url }}" alt="{{ img.description|default:"Image" }}">
          <div>{{ img.description }}</div>
        </div>
      {% empty %}
        <div>No images uploaded yet</div>
      {% endfor %}
    </div>
  </div>

  <div>
    <a href="{% url 'shopapp:product_update' pk=product.pk %}">Update</a>
  </div>
  <div>
    <a href="{% url 'shopapp:product_delete' pk=product.pk %}">Archive</a>
  </div>
  <div>
    <a href="{% url 'shopapp:products_list' %}">Back to products list</a>
  </div>
{% endblock %}
